@charset "UTF-8";
/* ---- start global styling ---- */
.body-style {
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
}

p {
    font-weight: 100;
}

h1 {
    line-height: 80px;
    vertical-align: middle !important;
}

.my-rounded {
    border-radius: 30px;
}

/* ---- main navigation bar ---- */
    .my-nav {
        background-color: #fff;
        font-size: 1.5rem;
    }

    .my-nav-item {
        border-radius: 15px;
    }

    .my-nav a {
        color: #e3dcbf;
    }

    .my-nav a:hover {
        color: #d2cbae;
    }

    .my-nav-active {
        color: #d3ccaf !important;
        font-weight: 500;
    }

    .my-nav-toggle-button {
        border-color: #e3dcbf
    }

/* ---- end main site navigation bar */

/* ---- end global styling ---- */

/* ---- start index.html ---- */
.home-container {
    height: 100%;
    padding-top: 10%;
}

.home-logotype {
    padding: 0px 30px;
}

.home-nav {
    margin-top: 5%;
}

.home-nav a {
    color: #e3dcbf !important;
    font-size: 2.5rem;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* ---- end index.html ---- */

/* ---- start about.html ---- */



/* ---- end about.html ---- */

/* ---- start menu.html ---- */
.menu-button {
    width: 50%;
    min-width: 350px;
    margin: 50px auto 0px;
    background-color: #fff;
    border: 1px solid #eee ;
    color: #000;
    border-radius: 0px;
    font-size: 1.5rem;
}

.menu-button:hover {
    background-color: #eee;
    color: #111;
    border: 1px solid #eee ;
}

.menu-button:active {
    background-color: #ddd !important;
    color: #111 !important;
    border: 1px solid #ddd !important;
}

.menu-option {
    width: 100%;
    min-width: 350px;
    border-radius: 0px;
    border: none;
    background-color: #fff;
    color: #000;
}

.menu-option:hover {
    background-color: #eee;
    color: #111;
}

.menu-option:active {
    background-color: #ddd !important;
    color: #111 !important;
}

.menu-dropdown {
    width: 50%;
    min-width: 350px;
    margin: auto;
}

.menu-section {
    width: 75%;
    min-width: 400px;
    max-width: 700px;
    margin: auto;
}

.section-items {
    width: 90%;
    min-width: 350px;
    max-width: 600px;
    margin: auto;
    padding: 0px;
}

/* ---- end menu.html ---- */

/* ---- start order.html ---- */

.upserve {
    max-width: 220px;
    vertical-align: top;
}


/* ---- end order.html ---- */