@charset "UTF-8";
/* ---- start global styling ---- */
.body-style {
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
}

p {
    font-weight: 100;
}

.my-nav {
    background-color: #fff;
    font-size: 1.5rem;
}

.my-nav a {
    color: #e3dcbf;
}

.my-nav a:hover {
    color: #d2cbae;
}

.my-nav-active {
    color: #d2cbae !important;
    font-weight: 500;
}

/* ---- end global styling ---- */

/* ---- start index.html ---- */
.home-container {
    height: 100%;
    padding-top: 10%;
}

.home-logotype {
    padding: 0px 30px;
}

.home-nav {
    margin-top: 5%;
}

.home-nav a {
    color: #e3dcbf !important;
    font-size: 2.5rem;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* ---- end index.html ---- */

/* ---- start about.html ---- */



/* ---- end about.html ---- */