@charset "UTF-8";
/* ---- start GLOBAL styling ---- */
.body-style {
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
}

p {
    font-weight: 100;
}

h1 {
    /* line-height: 80px; */
    vertical-align: middle !important;
}

.my-rounded {
    border-radius: 30px !important;
}

.navlogo {
    max-width: 70px
}

/* ---- MAIN NAVIGATION bar ---- */
    .my-nav {
        background-color: #fff;
        font-size: 1.5rem;
    }

    .my-nav-item {
        border-radius: 15px;
        margin-top: 15px;
    }

    .my-nav a {
        transition: .3s;
        color: #e3dcbf;
    }

    .my-nav div a:hover {
        transition: .3s;
        color: #d2cbae;
        box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important /*-- copied from .shadow-sm --*/
    }

    .my-nav-active {
        color: #d3ccaf !important;
    }

    .my-nav-toggle-button {
        border-color: #e3dcbf
    }

/* ---- end main site navigation bar */

.img-fig {
    width: 100%;
    max-width: 565.25px;/*-- break-point --*/
}

.img {
    width: 100%;
    height: 350px !important;
    object-fit: cover;
    object-position: bottom;
    border-radius: 25px;
}

/* ---- end global styling ---- */

/* ---- start INDEX.html ---- */
.home-container {
    height: 100%;
    padding-top: 10%;
}

.home-logotype {
    padding: 0px 30px;
}

.home-nav {
    margin-top: 5%;
    max-height: 100px
}

.home-nav li {
    max-height: 100px;
    vertical-align: middle;
    height: 50%;
    margin-top: 30px;
    transition: .3s;
}

.home-nav li:hover {
    transition: .3s;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important /*-- copied from .shadow-sm --*/
}

.home-nav a {
    color: #e3dcbf !important;
    font-size: 2.5rem;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0px;
    transition: .3s;
}

.home-nav a:hover{
    transition: .3s;
    color: #d2cbae !important;

}
/* ---- end index.html ---- */

/* ---- start ABOUT.html ---- */


/* ---- end about.html ---- */

/* ---- start MENU.html ---- */
.menu-button {
    width: 50%;
    min-width: 350px;
    margin: 50px auto 0px;
    background-color: #fff;
    border: 1px solid #eee ;
    color: #000;
    border-radius: 0px;
    font-size: 1.5rem;
}

.menu-heading {
    width: 100%;
    min-width: 200px;
    border: none;
    background-color: #fff;
    color: #000;
    transition: .3s;
}

.menu-heading button {
    text-decoration: none;
    color: #000;
    width: 100%;
    border-radius: 25px;
    transition: .3s;
}

.menu-heading button:hover {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: .3s
}

.section-items {
    width: 90%;
    min-width: 250px;
    max-width: 600px;
    margin: auto;
    padding: 0px;
}


/* ---- end menu.html ---- */

/* ---- start ORDER.html ---- */

.upserveh1 {
    max-width: 200px;
    vertical-align: top;
}

.upservediv {
    transition: .3s;
    
}

.upservediv:hover {
    transition: .3s;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important /*-- copied from .shadow-sm --*/
}

.upservebody {
    max-width: 300px;
}

/* ---- end order.html ---- */